@import url(/assets/fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css);
body{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    // font-family: 'false', sans-serif;
    padding-top: 88px;
    background-color: transparent;
    font-family: 'GeneralSans-Variable';
    @media only screen and (min-width:1700px){
        padding-top: 115px;
    }
    @media only screen and (max-width:768px){
        padding-top: 77px;
      
    }
}