// Fonts sizes clases
.f-45{
    font-size: 45px;
  }
.f-40 {
  font-size: 40px;
}
.f-30 {
  font-size: 30px;
}
.f-35 {
    font-size: 35px;
    @media only screen and (min-width: 1700px) {
        font-size: 45px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 20px;
      }
  }
.f-32 {
  font-size: 30px;
}
.f-25 {
  font-size: 25px;
  line-height: 35px;
}
.f-22 {
  font-size: 22px;
}
.f-20 {
  font-size: 18px;
  line-height: 25px;
  @media only screen and (min-width: 1700px) {
    font-size: 25px;
    line-height: 35px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}
.f-12 {
  font-size: 12px;
}
.f-10 {
  font-size: 10px;
}

// Font Weight Classes
.w-400 {
  font-weight: 400;
}
.w-500 {
  font-weight: 500;
}
.w-600 {
  font-weight: 600;
}
.w-700 {
  font-weight: 700;
}
.w-800 {
  font-weight: 800;
}
.text-blue{
    color: #221D42 !important;
}
.text-primary{
  color: $primary !important;
}
// ==========================headings
.heading-primary {
  font-size: 45px;
  font-weight: 700;
  color: $primary;
  line-height: 55px;
  span {
    color: black;
  }
  @media only screen and (min-width: 1700px) {
    font-size: 50px;
    line-height: 62px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
  }
  @media only screen and (max-width:500px){
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
  }
}
