.request-header{
    background-color: $primary;
    min-height: 500px;
    margin-top: -15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    @media only screen and (max-width:991px){
        min-height: 400px;
    }
}
.quote-text-box{
    margin-top: -130px;
    @media only screen and (max-width:991px){
     margin-top: -80px;
    }
}
.get-quote{
    margin-bottom: 150px;
   
       @media only screen and (max-width:580px){
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom: 70px;
       }
}
.get-quote-form{
    margin-top: -140px;
    background: #FFFFFF;
box-shadow: 0px 3px 6px #00000029;
border-radius: 12px;
opacity: 1;
padding:50px 50px;
@media only screen and (max-width:991px){
    margin-top: -130px;
   }
   @media only screen and (max-width:768px){
    padding:30px 20px;
   }
   @media only screen and (max-width:580px){
    padding:30px 5px;
   }
   
}

.input-label{
    font-size: 17px;
    font-weight: 500;
    color: black;
    line-height: 30px;
    letter-spacing: 0.25px;
    @media only screen and (max-width:580px){
      font-size: 15px;
      line-height: 20px;
    }
}
.input-label b{
    color: #FF6846;
}
.input-label span{
    font-size: 14px;
    font-weight: 400;
    color: #8F8F8F;
}
.input{
background: #FFFFFF ;
border: 1px solid #D1D0D6;
border-radius: 4px;
opacity: 1;
padding: 12px 15px;
font-size: 16px;
@media only screen and (max-width:580px){
    padding: 10px 12px;
    font-size: 14px;
  }
}
.input::placeholder{
    letter-spacing: 0.2px;
color: #8E8C95;
}
.input:focus,
.input:hover,
.input:active{
    outline: none;
    box-shadow: none;
    border: 1px solid $primary;
}


// ==========================================dropzone
.drop-zone {
    // layout.css Style
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  
    // Style
    color: #646C7F;
    border-style: dashed;
    border-color:$primary;
    border-radius: 5px;
    line-height: 200px;
    cursor: pointer;
    background-color: #FF338117 !important;
    width: 100%;
  
    &.is-dragover {
      color: #999;
      border-style: solid;
    }
  
    &.has-images {
      justify-content: flex-start;
  
      .msg {
        display: none;
      
      }
    }
  
     
    input.has-image {
      opacity: 1;
      width: 0px;
      height: 0;
    }
  
    input.receiver {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  
    .preview {
      display: flex;
      align-items: center;
      position: relative;
      cursor: default;
      margin: 0 5px;
      height: 120px;
      border-radius: 5px;
      
      &:hover {
        .details {
          display: flex;
        }
      }
  
      img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 5px;
      }
  
      .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; // flex on hover .image
        align-items: center;
        justify-content: center;
      }
      
      .remove {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $primary;
        cursor: pointer;
        
        .fa {
          font-size: 20px;
          color: white;
        }
      }
    }
  }

.msg {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    p{
        text-align: center;
            font-size:20px ;
            font-weight:500;
            letter-spacing: 0.25px;
            color: #FF3381;
            opacity: 1;
        line-height: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width:500px){
            line-height: 17px;
            font-size: 15px;
        }
    }
    .fill-btn{
       width: fit-content !important;
        margin-top: 20px;
        @media only screen and (max-width:500px){
            margin-top: 10px;
        }
    }
}
// =====================================privacy policy
.privacy-header{
  background-color: $primary;
  min-height: 500px;
  margin-top: -15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  @media only screen and (max-width:991px){
      min-height: 400px;
  }
  @media only screen and (max-width:580px){
    min-height: 100%;
    padding: 30px;
    padding-top: 115px;
}
}
.privacy-heading-main{
  font-size: 20px;
  font-weight: 600;
  @media only screen and (max-width:580px){
   font-size: 18px;
   }
}
.privacy-heading{
  font-size: 18px;
  font-weight: 600;
  @media only screen and (max-width:580px){
    font-size: 16px;
    }
}
.privacy-text{
  font-size: 16px;
  @media only screen and (max-width:580px){
    font-size: 14px;
    text-align: justify;
    }
}
.privacy-list{

  list-style:circle;
  li{
    font-size: 16px;
    padding-bottom: 4px;
    @media only screen and (max-width:580px){
      font-size: 14px;
      }
  }
}
.privacy-div{
  margin-top: -140px;
  background: #FFFFFF;
box-shadow: 0px 3px 6px #00000029;
border-radius: 12px;
opacity: 1;
padding:50px 50px;
@media only screen and (max-width:991px){
  margin-top: -130px;
 }
 @media only screen and (max-width:768px){
  margin-top: 0px;
  box-shadow: none;
  padding:20px 5px;
 }

 
}