/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  color: $primary;
  border: 1px solid transparent;
  margin-right: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: $primary;
  color: white;
  border: 1px solid $primary;
}

/* Create an active/current tablink class */
.tab button.active {
  border: 1px solid $primary;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}
.tab-area {
  padding: 80px 0px;
  background-color: #f8f8f8;
  @media only screen and (min-width: 1700px) {
    padding: 100px 0px;
  }
  @media only screen and (max-width: 768px) {
    padding: 10px 10px;
  }
  margin-top: 30px;
}
.portfolio__card-img {
  background-color: white;
  padding: 5px !important;
  border-radius: 3px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ========================================card-hover layout
/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
  padding: 0px 40px;
  margin-bottom: 40px;
  @media only screen and (max-width: 1200px) {
    padding: 0px 10px;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.filter-btns {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  color: $primary;
  border: 1px solid transparent;
  margin-right: 15px;
}

.filter-btns:hover {
  background-color: $primary;
  color: white;
  border: 1px solid $primary;
}

.active-category {
  border: 1px solid $primary;
}

.grid-item {
  float: left;
  border-radius: 10px;
}

.grid-item img {
  display: block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.grid-item {
  overflow: hidden;
}

.image-caption {
  // display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.803);
  display: none;
  padding: 20px;
  @media only screen and (max-width: 767px) {
    padding: 7px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.grid-item:hover .image-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  cursor: pointer;

  h1 {
    font-size: 16px;
    font-weight: 600;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 14px;
    font-weight: 600;
    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  i {
    font-size: 22px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  i:hover {
    color: #7eb9b3;
  }
}
.caption-logo {
  background-color: rgb(102, 51, 153);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  width: 20px;
  color: white;
}
.button-group {
  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  button {
    @media only screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

// ===========================================================home portfolio
.home-portfolio {
  background-color: #f8f8f8;
  padding: 80px 0px;
  @media only screen and (min-width: 1700px) {
    padding: 100px 0px;
  }
  @media only screen and (max-width: 768px) {
    padding: 60px 10px;
  }
  @media only screen and (max-width: 570px) {
    padding: 60px 10px;
  }
  &--card {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    
    &-img {
      overflow: hidden;
      padding: 0;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &-text {
      background-color: white;
      padding: 50px 50px 65px 50px;
      height: 100%;
      position: relative;
      .arrow-left {
        position: absolute;
        top: 50px;
        left: -26px;
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        
        border-right:30px solid white; 
        @media only screen and (max-width:991px){
          top: -14px;
          left: 35px;
          border-top: none ;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          
          border-bottom: 15px solid white;
        }
      }
      .arrow-right {
        position: absolute;
        top: 50px;
        right: -26px;
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        
        border-left: 30px solid white;
        @media only screen and (max-width:991px){
          top: -14px;
          right: 35px;
          border-top: none ;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          
          border-bottom: 15px solid white;
        }
      }
      
      @media only screen and (max-width:1300px){
        padding: 10px 30px;
      }
      @media only screen and (max-width:1200px){
        padding: 10px 20px;
      }
      @media only screen and (max-width:991px){
        padding: 20px 30px 40px 30px;
      }
      @media only screen and (max-width:580px){
        padding: 20px 15px 30px 15px;
      }
      h2 {
        font-size: 30px;
        color: #221D42;
        font-weight: 500;
        @media only screen and (max-width:580px){
         font-size: 22px;
        }
      }
      .labels {
        display: flex;
        align-items: center;
      }
      .project-label {
        height: 31px;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #707070;
        border-radius: 15px;
        margin: 10px 5px;
        display: flex;
        justify-content: center;
        align-items:center ;
        font-weight: 500;
        color: #707070;
      }
      p{
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        margin: 20px 0px !important;
        @media only screen and (max-width:1200px){
        font-size: 14px;
        }
      }
    }
  }
}

// ===================================running projects
.running-project-card{
  overflow: hidden;
  padding: 6px !important;
  position: relative;
  img{
    object-fit: cover;
    overflow: hidden;
    width: 100% !important;
  }
  .running-content{
    position: absolute;
    bottom: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 20px;
    height: fit-content;
    h1{

        font-size: 30px;
        font-weight: 500;
        color: white;
        width: 100%;
        border-bottom: 1px solid white;
        padding: 15px 0px;
    }
    p{
      min-height: 130px;
      font-size: 14px;
      font-weight: 400;
      color: white;
    }
  }
}